<section id="cards">

        
<div class="card">
    
    <img src="<%= pokemon.imagem %>" alt="">
    <h3 class="name"><%= pokemon.name %></h3>
    <p class="description"><%= pokemon.description %></p>
    <p class="type" >Type: <%= pokemon.type %></p>
    <p class="type" >Height: <%= pokemon.height%></p>
    <p class="type" >Weight: <%= pokemon.weight %></p>
    <p class="type" >Category: <%= pokemon.category %></p>
    <p class="type" >Skill: <%= pokemon.skill %></p>
    
</div>

 
</section>